*{
    padding: 0px;
    margin: 0px;
}
/* Navigation Bar */
#navbar {
    display: flex;
    /* justify-content: center; */
}

/* Navigation Bar - Logo and Img  */
#logo{
     margin: 10px 34px;
}

#logo img{
    height: 100px;
    margin: 15px 15px;
}

/* Navigatoin Bar - List styling  */
#navbar ul {
    display: flex;
 
}

#navbar::before {
     content: '';
     background-color: black;
     position: absolute;
     height: 100;
     width: 100%;
     z-index: -1;
}

#navbar ul li {
    list-style: none;
   
}

#navbar ul li a {
    /* color: white; */
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 4px 5px;
    text-decoration: none;
}