/* CSS Reset  */
*{
    padding: 0px;
    margin: 0px;
}
/* Navigation Bar */
#navbar {
    display: flex;
    /* justify-content: center; */
}

/* Navigation Bar - Logo and Img  */
#logo{
     margin: 10px 34px;
}

#logo img{
    height: 80px;
    margin: 15px 15px;
}

/* Navigatoin Bar - List styling  */
#navbar ul {
    display: flex;
 
}

#navbar ul li {
    list-style: none;
   
}

#navbar ul li a {
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 4px 5px;
    text-decoration: none;
}